<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Sign Up</title>
</head>
<body>
    <%- include("partials/navbar") -%>

    <div class="page-container">
        <div class="signup-container">
            <span id="signup-text">Sign Up</span>

            <div id="signup-form">
                <form action="/" method="GET">
                    <label for="username">Username</label><br>
                    <input class="form-input" type="text" name="username"><br><br>
                    <label for="password">Password</label><br>
                    <input class="form-input" type="password" name="password"><br><br>
                    <label for="confirm-password">Confirm Password</label><br>
                    <input class="form-input" type="password" name="confirm-password"><br>
                    <br>

                    <!-- Exported SVG from Adobe XD artboard -->
                    <div id="signup-submit-button">
                        <!-- Bit of a weird way to turn an SVG into a submit button. Nesting a submit button and SVG into a label, then hiding the submit button. -->
                        <label>
                            <input type="submit" style="display: none;">
                            <svg class="signup-submit-button-svg" xmlns="http://www.w3.org/2000/svg" fill="none" width="320" height="58" viewBox="0 0 320 58">
                                <g stroke="#16e0bd" stroke-width="1">
                                  <rect width="320" height="58" rx="29" stroke="none"/>
                                  <rect x="0.5" y="0.5" width="319" height="57" rx="28.5" fill="none"/>
                                </g>
                                <text class="signup-submit-button-svg-text" transform="translate(109 40)" fill="#16e0bd" font-size="30" font-family="Poppins-Light, Poppins" font-weight="300"><tspan x="0" y="0">Sign Up</tspan></text>
                            </svg>                
                        </label>
                    </div> <br>
                </form>
            </div>
        </div>
    </div>

</body>
</html>