<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Sign Up</title>
</head>
<body>
    <%- include("partials/navbar") -%>

    <% 
    
    let username_length_error = false;
    let password_length_error = false;
    let username_illegal_characters = false;
    let password_illegal_characters = false;
    let confirm_password_mismatch = false;
    
    if(typeof(error_list) != "undefined") {
        while (error_list.length != 0){
            let error = error_list.pop();
            if (error === "Invalid Username Length") {
                username_length_error = true;
            } else if (error === "Invalid Password Length") {
                password_length_error = true;
            } else if (error === "Username Contains Illegal Characters") {
                username_illegal_characters = true;
            } else if (error === "Password Contains Illegal Characters") {
                password_illegal_characters = true;
            } else if (error === "Password Mismatch") {
                confirm_password_mismatch = true;
            }
        }
    } %>

    <div class="page-container">
        <div class="signup-container">
            <span id="signup-text">Sign Up</span>

            <div id="signup-form">
                <form action="/signup" method="POST">
                    <label for="username">Username</label><br>
                    <% if (username_length_error || username_illegal_characters) {%>
                        <input class="invalid-form-input" type="text" name="username" placeholder=" "><br><br>
                    <% } else { %>
                        <input class="form-input" type="text" name="username"><br><br>
                    <% } %>
                    <label for="password">Password</label><br>
                    <% if (password_length_error || confirm_password_mismatch || password_illegal_characters) {%>
                        <input class="invalid-form-input" type="password" name="password" placeholder=" "><br><br>
                    <% } else { %>
                        <input class="form-input" type="password" name="password"><br><br>
                    <% } %>
                    <label for="confirm_password">Confirm Password</label><br>
                    <% if (password_length_error || confirm_password_mismatch || password_illegal_characters) {%>
                        <input class="invalid-form-input" type="password" name="confirm_password" placeholder=" "><br>
                    <% } else { %>
                        <input class="form-input" type="password" name="confirm_password"><br>
                    <% } %>
                    <br>

                    <% if(typeof(db_error) != "undefined") { %>
                        <span class="signup-validation-error" style="display: block; text-align: center;">Username <%=taken_username%> is taken!</span>
                    <% } %>

                    <!-- Exported SVG from Adobe XD artboard -->
                    <div id="signup-submit-button">
                        <!-- Bit of a weird way to turn an SVG into a submit button. Nesting a submit button and SVG into a label, then hiding the submit button. -->
                        <label>
                            <input type="submit" style="display: none;">
                            <svg class="signup-submit-button-svg" xmlns="http://www.w3.org/2000/svg" fill="none" width="320" height="58" viewBox="0 0 320 58">
                                <g stroke="#16e0bd" stroke-width="1">
                                  <rect width="320" height="58" rx="29" stroke="none"/>
                                  <rect x="0.5" y="0.5" width="319" height="57" rx="28.5" fill="none"/>
                                </g>
                                <text class="signup-submit-button-svg-text" transform="translate(109 40)" fill="#16e0bd" font-size="30" font-family="Poppins-Light, Poppins" font-weight="300"><tspan x="0" y="0">Sign Up</tspan></text>
                            </svg>                
                        </label>
                    </div> <br>
                </form>
            </div>
        </div>

        <div class="signup-validation-container">

            
            

            <% if (username_length_error || username_illegal_characters) {%>
                <p class="signup-validation-error">Username must be:</p>
            <% } else { %>
                <p id="signup-validation-username-header">Username must be:</p>
            <% } %>

            <% if (username_length_error) {%>
                <p class="signup-validation-error">3-20 characters long</p>
            <% } else { %>
                <p class="signup-validation-text">3-20 characters long</p>
            <% } %>

            <% if (username_illegal_characters) {%>
                <p class="signup-validation-error">Only contain letters and numbers</p>
            <% } else { %>
                <p class="signup-validation-text">Only contain letters and numbers</p>
            <% } %>
            <br><br>
            <% if (password_length_error || confirm_password_mismatch || password_illegal_characters) {%>
                <p class="signup-validation-error">Password must be:</p>
            <% } else { %>
                <p id="signup-validation-password-header">Password must be:</p>
            <% } %>
            
            <% if (password_length_error) {%>
                <p class="signup-validation-error">8-20 characters long</p>
            <% } else { %>
                <p class="signup-validation-text">8-20 characters long</p>
            <% } %>

            <% if (password_illegal_characters) {%>
                <p class="signup-validation-error">Only contain letter and numbers</p>
            <% } else { %>
                <p class="signup-validation-text">Only contain letter and numbers</p>
            <% } %>

            <br><br>

            <% if (confirm_password_mismatch) {%>
                <p id="signup-validation-password-confirm-mismatch-error">Confirm Password does not match the entered password!</p>
            <% } else { %>
                <p id="signup-validation-password-confirm-mismatch">Confirm Password does not match the entered password!</p>
            <% } %>
        </div>

        
        
    </div>

</body>
</html>